.header{
    width: 550px;
    height: 55px;
    background-color: #F55A5A;
    display:  flex;
    justify-content: center;
    align-items: center;
}
.header-logo{
    width: 25.8px;
    height: 24px;
    margin-right: 5px;
}